
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primery-bg-color: #f5f4fa;
  --header-logo-color: #000;
  --footer-logo-color: #fff;
  --footer-bg-color: #2f303a;
}
/* основной фон */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  
}
/* контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* логотип */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.main-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  color: var(--header-logo-color);
}
/* навигацыя хедера */
.site-nav-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 93px;
}
.site-nav-list .item {

  margin-right: 50px;
}
.site-nav-list .item:last-child {
  margin-right: 0;
}
.auth-nav-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  
}
.auth-nav-list .item +.item {
  outline: 1px solid tomato;
  background-color: tomato;
  margin-left: 50px;
}


/* ссылки */
.auth-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* состояние наведения */
.auth-link:hover {
  color: var(--accent-color);
}

/* состояние в фокусе */
.auth-link:focus {
  color: var(--accent-color);
}
/* навигацыя сайта */
.link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  
}
/* состояние наведения */
.link:hover {
  color: var(--accent-color);
}

.link.current{
  color: var(--accent-color);
  display: block;
}

/* состояние в фокусе */
.link:focus {
  color: var(--accent-color);
}
/* герой */
.hero {
  background-color: var(--header-logo-color);
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 280px;
}
.hero-title {
  color: var(--footer-logo-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}
/* кнопка веб студии */
.button-primery {
  display: inline-block;  
  cursor: pointer;
  font-family: Roboto;
  color: #fff;
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
}

.feature-list {
  display: flex;
  margin-top: 0;
}
.feature-list.item {
  width: 270px;
  background-color: tomato;
}
.section-title {
  color: var(--primary-text-color);
  
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-right: 30px;
  outline: 1px solid tomato;
}



.section-text {
  color: var(--title-text-color);
 
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  padding-left: 30px;
}
/* чем мы занимаемся */
.development {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.development-photo {
  border: 1px solid tomato;
  margin-bottom: 94px;
}
/* наша команда */
.command {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
/* имя сотрудника */
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* должность */
.profession {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.command-photo {
  border: 1px solid tomato;
  background-color: var(--primery-bg-color);
}

.photo-card {
  display: flex;
  padding-left: 30px;
}







.logo-footer {
  color: var(--footer-logo-color);
}

/* список */
ul {
  list-style: none;
  padding: 0;

}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.about-work {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}















.visually-hidden {
margin-top: 0;
margin-bottom: 94px;
}





/* цвет абзаца */






.geolocation {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: var(--footer-logo-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* кнопки портфолио */
.button-secondary {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  cursor: pointer;
  color: var(--primary-text-colora);
  background-color: var(--primery-bg-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  text-align: center;
  border: transparent
  
}
.button-list {
  display: flex;
}
/* состояние ховер */
.button-secondary:hover {
  color: #fff;
  background-color: var(--accent-color);
}
/* состояние фокус */
.button-secondary:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.footer {
  border: 1px solid tomato;
}
.footer-page {
  background-color: var(--footer-bg-color);
  height: 252px;
  padding-top: 60px;
  padding-left: 215px;
}

